<table class="white centered">
    <tr>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
        <td class="td-width"></td>
    </tr>
    <tr>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
 </tr>
 <tr>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width"></td>
 </tr>
</table>