<script>
    $(document).ready(function(){
      
        // var param = jQuery.url.param("ticket_no");
        // console.log("IN current-ticket page param : ",param);
    });
</script>


<table class="white centered">
    <tr>
        <td class="td-width"></td>
        <td class="td-width">17</td>
        <td class="td-width">21</td>
        <td class="td-width"></td>
        <td class="td-width">44</td>
        <td class="td-width"></td>
        <td class="td-width">65</td>
        <td class="td-width">78</td>
        <td class="td-width"></td>
    </tr>
    <tr>
     <td class="td-width">6</td>
     <td class="td-width"></td>
     <td class="td-width">29</td>
     <td class="td-width">33</td>
     <td class="td-width"></td>
     <td class="td-width">54</td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width">83</td>
 </tr>
 <tr>
     <td class="td-width">9</td>
     <td class="td-width">18</td>
     <td class="td-width"></td>
     <td class="td-width"></td>
     <td class="td-width">48</td>
     <td class="td-width"></td>
     <td class="td-width">66</td>
     <td class="td-width"></td>
     <td class="td-width">88</td>
 </tr>
</table>